@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .navBtns {
    @apply hidden h-6 md:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 mt-2 ease-out
  
  }
  .btn{
    @apply h-6 hover:scale-105 cursor-pointer transition-all duration-200
  }
   
}